/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración General */
body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Perpetua', serif;
    background-color: #fafbfd;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* Asegura que la imagen cubra todo el contenedor */
}

/* Hora y Fecha */
#datetime {
    position: absolute;
    top: 10px;
    left: -100%;
    font-size: 14px;
    opacity: 0.8;
    width: 100%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    white-space: nowrap;
    animation: moveDateTime 30s linear infinite;
}

/* Animación de la hora */
@keyframes moveDateTime {
    0% {
        left: -100%;
    }

    50% {
        left: 50%;
        transform: translateX(-50%);
    }

    100% {
        left: 100%;
    }
}

/* Logo */
.logo {
    max-width: 13vw;
    width: auto;
    height: auto;
    opacity: 5.0;
    /* Opacidad del 80% */
    margin-top: -50px;
    margin-bottom: 30px;
    object-fit: contain;
    transition: opacity 0.5s ease;
    /* Transición suave */
}

/* Menú de enlaces */
.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 5px 0;
}

.link {
    color: #1e1e1e;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: #000000;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Redes Sociales */
footer.social-links {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer.social-links a {
    display: inline-block;
    width: 30px;
    height: 30px;
}

footer.social-links img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsividad */
@media (max-width: 1200px) {
    .logo {
        max-width: 12vw;
    }

    .link {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .logo {
        max-width: 12vw;
    }

    .link {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .logo {
        max-width: 12vw;
    }

    .link {
        font-size: 12px;
    }
}

/* Estilos para ocultar la hora normal en móviles */
@media (max-width: 767px) {
    .hora-normal {
        display: none;
    }
}

/* Asegura que la hora mística sea visible y se mueva en pantallas pequeñas */
@media (max-width: 767px) {
    #datetime {
        font-size: 12px;
        animation: moveDateTime 15s linear infinite;
        /* Asegura la animación */
    }
}